* {
    box-sizing: border-box;
}

body {
    /* cursor: url('https://e7.pngegg.com/pngimages/306/413/png-clipart-hammer-hand-tool-mallet-hammer-angle-technic.png'), auto; */
    background-color: #1D1E22;
    cursor: none;
}

.board {
    width: 600px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;

}

.cell {
    width: 140px;
    height: 140px;
    margin: 5px;
    background-color: #067421;
    text-align: center;
}

.rounded {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.pointed {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
}